@using TravelTripProje.Models.Siniflar
@model List<Galeri>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Test.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Galeri</h3>
            @foreach (var item in Model)
            {
                <h1>@item.GaleriBaslik</h1>
                <img src="@item.FotoUrl" alt="" />
            }
        </div>
    </div>
</div>
